# NON FRAMEWORK #
###################
phpmyadmin/*
www-static/storage/*
www-static/images/i
wiki/*
configuration.php
debug/*
README.md
todo.txt

# ZEND #
########
.metadata/*
.settings/*
.project
.buildpath