Options -indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

<Files ~ "^\.git">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^\.gitignore">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^networks.co.id$ [NC]
    RewriteRule ^(.*)$ https://www.networks.co.id/$1 [R=301,L]
</IfModule>



ExpiresActive on
ExpiresByType image/* "modification plus 1 minutes" 
