<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

<Files ~ "^\.git">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
</Files>

Options -Indexes
ErrorDocument 403 /index.php
