Options -indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

<Files ~ "^\.git">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
	RewriteCond %{HTTP_HOST} ^(www.)?static.web.id$
RewriteRule ^(.*)$ /www-static/$1
</IfModule>