#subinformation{background:none repeat scroll 0 0 #fff;
margin:5px 0;border-bottom: 1px solid #F9EBEB;}
#subinformation:hover{background:#FFFEE3;}
#subname{float:left;
padding:5px 10px;}
#suboptions a {
    color: #CCCCCC;
    float: right;
    margin-right: 10px;
    padding: 5px;
}
#subname a{color: #CC3E3E;}

#red-admin-left
{
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 745px;	
}

#red-admin-right
{
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 220px;	
}

.newpost #input-title{width: 600px;}

#red-side-menu {
    background: url("/www-static/assets/images/border-blog.png") no-repeat scroll left top transparent;
    float: right;
    min-height: 500px;
    width: 170px;
}

#red-side-menu ul li {
    border-bottom: 1px solid #F9EBEB;
    list-style: none outside none;
    margin-left: 0;
    padding: 5px;
}

#red-side-menu ul ul li:hover {
    border-bottom:1px solid #F4E2E2;