
/*

riset
*/

.blog-post h1,.blog-post h2,.blog-post h3,.blog-post h4,.blog-post h5,.blog-post h6 {
    font-family:'Droid Sans',verdana,ariel,serif;
    clear: both;
    font-weight: 400;
}
.blog-post h1{    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    padding: 5px 0;}

.blog-post h3{
 border-bottom: 1px solid #DDDDDD;
    font-size: 22px;
    line-height: 30px;
    padding: 5px 0;    margin-bottom: 5px;}

.blog-post h4{    color: #D32E2E;}


#red-blog-menu {
    border-bottom: 1px solid #E7E7E7;
}
#red-blog-menu li{   margin-right: 10px;   padding: 5px 0px 5px 10px;  float: left;}
#blog-social li a{
    color: #444444;
    display: block;
    padding: 5px 0px 5px 10px;
}
#blog-social{    margin-left: -10px;}
#blog-social li#blog-icon-twitter{
    background-image:  url("/www-static/assets/images/i/twitter16.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}
#blog-social li#blog-icon-facebook{
    background-image:  url("/www-static/assets/images/i/facebook16.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}
#blog-social li#blog-icon-github{
    background-image:  url("/www-static/assets/images/i/github16.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}
#blog-social li#blog-icon-deviantart{
    background-image: url("/www-static/assets/images/i/deviantart16.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}

#blog-social li:hover{background:#FFFEDE;}
#blog-social li a:hover{text-decoration:none;}

#red-blog-left{
    float: left;
    width:720px;
    min-height: 500px;
    padding: 0 5px;	
}

#red-blog-right{
    /*background: url("www-static/assets/images/border-blog.png") no-repeat scroll left top #FFFFFF;*/
    background: none repeat scroll 0 0 #D32E2E;
    float: left;
    margin-top: 10px;
    min-height: 500px;
    width: 230px;
}

.blog-post{  
    margin-bottom: 5px;
    padding: 0 20px 0 0;}
    
#post-meta li{    
    border-right: 1px solid #E6E6E6;
    float: left;
    list-style: none outside none;
    padding: 0 8px;
}

#post-meta {
    color: #A8A7A7;
    font: 0.83em Tahoma,Verdana,Helvetica,Arial,sans-serif;
    padding:5px 0;
    margin:5px 0;
}

#post-meta li:last-child {
    border-right: medium none;
}
.post-list{    border-bottom: 1px solid #B11C1C;
    list-style: none outside none;
    padding: 5px 5px 5px 10px;}
#post-meta #meta-author{padding-left:0px;}


#meta-comments {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    text-align: center;
}
#comments .comments #name{margin-right: 10px;}
#comments .comments #comment{margin-right: 10px;}
#comments .comments #time{  color: #E6CDAD;}
#comments .comments{   
    margin: 5px 0;
    padding: 5px 0;}
/*#comments .comments:nth-child(odd){background: none repeat scroll 0 0 #FFFFD5;}
#comments .comments:nth-child(even){background: none repeat scroll 0 0 #FFFFE4;}*/
#how-comment{    background: none repeat scroll 0 0 #FCFBFB;
    border: 1px solid #EEEEEE;
    margin-top: 10px;
    padding: 5px;}

#notice{    background: none repeat scroll 0 0 #EEEEEE;
    padding: 5px;}
#notice a{color:#D32E2E;}
.blog-post a{color: #3151A2;text-decoration:underline;}
.blog-post ul{        margin: 10px 0 20px;
    padding: 0 0 0 40px;}
.blog-post ul ul{ 
    margin: 10px 0;
    padding: 0 0 0 15px;}
.blog-post ul ul li{    list-style: circle outside none;}
.blog-post ul li{     list-style: square outside none;
    padding-bottom: 0.45em;}

/*fix sementara*/
#post-meta{border-left:none;}

.blog-post h2{
    border-bottom: 2px solid #D32E2E;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 5px;
    padding: 5px 0;
}

.blog-post p{
    clear: both;
    word-wrap: break-word;
    margin-bottom: 1.15em;
}

#post-list-title a{  color: #fff;}
#post-list-meta{ 
    font-size: 10px;  color: #961717;}

#hello-blog{     background: none repeat scroll 0 0 #FEFFE8;
    padding: 5px 5px 5px 10px;}

.blog-post a.u{    color: #5E96E3;
    text-decoration: none}





.development #post-list-title{ word-wrap: break-word;}
.development #development-status #box {
    border: 1px solid #EEEEEE;
    height: 52px;
    margin: 10px;
    overflow: hidden;
    padding: 10px;
    width: 195px;
}
.development #development-introduction{   margin: 5px;
    padding: 5px;
    width: 685px;}
.development #red-blog-right{    background: none repeat scroll 0 0 #444444;
    float: left;
    min-height: 500px;
    width: 230px;}
.development #post-list-title, .development #post-list-comment, .development #post-list-meta{
    color:#000000;
}
.development .post-list{   border-bottom: 1px solid #1B1B1B;}

.development #development-changes {
    margin: 5px;
    padding: 5px;
    width: 685px;
}
.development #committer-information{    margin: 10px auto;
}

.development #committer-information img{  }

.development #committer-says {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    margin: 0 0 0 10px;
    padding: 10px;
    width: 500px;
}

#highlight{
    background: none repeat scroll 0 0 #F0FFCC;
    border: 1px solid #D0E4A1;
    margin: 10px 0;
    padding: 10px;
    width: 670px;
}
#highlight a{color:#CC3E3E;}

#red-blog-right .type-3{    background: none repeat scroll 0 0 #62BCDA;}
#red-blog-right .type-3 #post-list-title a {    color: #444444;}
#red-blog-right .type-3 #post-list-meta{    color: #3878AB;}


#highlight.type-2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #eee;
    margin: 10px 0;
    padding: 10px;
    width: 670px;
}