#red-blog-menu {
    border-bottom: 1px solid #E7E7E7;
}
#red-blog-menu li{  float: left;}
#red-blog-menu li a{
    color: #444444;
    display: block;
    padding: 5px 10px;
}
#red-blog-menu a:hover{text-decoration:none;background:#FFFEDE;}

#red-blog-left{
    float: left;
    width:720px;
    min-height: 500px;
    padding: 0 5px;	
}

#red-blog-right{
    background: url("www-static/assets/images/border-blog.png") no-repeat scroll left top #FFFFFF;
    float: left;
    width:200px;
    min-height: 500px;
}

.blog-post{  
    margin-bottom: 5px;
    padding: 10px;}
    
#post-meta li{    
	border-right: 1px solid #E6E6E6;
    float: left;
    padding: 0 8px;
}

#post-meta {
    color: #A8A7A7;
    font: 0.83em Tahoma,Verdana,Helvetica,Arial,sans-serif;
    padding:5px 0;
    margin:5px 0;
}

#post-meta li:last-child {
    border-right: medium none;
}
.post-list{    border-bottom: 1px solid #eee;
    list-style: none outside none;
    padding: 5px;}
#post-meta #meta-author{padding-left:0px;}