#red-content-secure {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 6% auto;
    opacity: 0.8;
    padding: 10px;
    width: 300px;
}
#red-register-closed{    background: none repeat scroll 0 0 #FFFFDA;
    border: 1px solid #F2F2C6;
    margin-top: 10px;
    padding: 10px;
    width: 660px;}
    
#why-red{    height: 400px;
    margin-top: 10px;
    position: relative;}
#why-red img{  }
.relative{position:relative;}
#why-red .awesome{    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BAADAD;
    float: left;opacity:0;
    margin: 65px 0 0;
    position: absolute;
    width: 300px;}
#why-red .awesome:hover{opacity:1;z-index:999 !important;}
#why-red #what{    color: #B0B0B0;
    font-size: 30px;
    padding: 15px;}
    
#why-red #pic-1{top:20px;z-index:1;}
#why-red #pic-2{left: 360px;top:20px;z-index:2;}
#why-red #pic-3{
	bottom: 125px;
    left: 195px;z-index:3;}