html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.blog-post{color:#333;}
#red-blog-right {
    float: none;
    margin: 5px;
    width: auto;
}
#red-blog-left{width:auto;float:none;}
html #red-content {
    width: auto;
    min-width: 5px;
    max-width:auto;
}
alt{display:none;}
#highlight{display:none;}
#red-menu-login{display:none;}
#red-content img{ width:100%;}
html #footer-warp{width:auto;}
html #red-menu{  width: auto;}
#footer #footer-menu li {
    display: none;
    float: left;
    margin-right: 20px;
}
#footer ul#copyright {
    float: none;
    width: auto;
}
#footer #copyright li {
    float: left;
    padding-left: 10px;
}
#red-menu-right {
    display: none;
}
#red-blog-menu{width:auto;}
#red-menu-left {
    float: none;
}
#footer ul#footer-menu {
    float: none;
}
img,object,embed{max-width:81%;}