html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.blog-post{color:#333;}
#red-blog-right {
    float: none;
    margin: 5px;
    width: auto;
}
#red-blog-left{width:auto;float:none;}
html #red-content {
    width: auto;
     min-width: 5px;
}
#highlight{display:none;}
#red-menu-login{display:none;}
html #red-content img(width:100%;)