@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: normal;
  src: url(/www-static/assets/fonts/verdana.ttf) format("truetype");
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: url(/www-static/assets/fonts/DroidSans.ttf) format("truetype");
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: local('Pacifico'), url('/www-static/assets/fonts/Pacifico.ttf') format('truetype');
}

a.u{
   color: #5E96E3;
}
#comment{font-size:11px;}
#logo{
    width: 75px;}


body {
    color: #444444;
    font: 13px/1.7em "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    direction: ltr;
}
label {
    display: block;
    padding: 5px;
    text-align: left;
}


a { text-decoration: none }
#red-header #red-menu a { color: #fff;text-shadow: 0 -1px 0 #B11D1D;}
#red-submenu a { color: #fff }
#red-header a:hover,
#red-submenu a:hover { text-decoration: none }
#red-header {
    /*background: url("/www-static/assets/images/header.jpg") repeat-x scroll left center #D32E2E;*/ 
     background: none repeat scroll 0 0 #D32E2E; 
    border-bottom: 1px solid #780000;
    color: #FFFFFF;
}
#red-header li {
    float: left;    height: 22px;
    padding: 10px;
}
#red-header li:hover { background-color: #C52020 }
#red-menu {
    width: 960px;
    margin: 0 auto;
}
#red-menu-left { float: left }
#red-menu-right { float: right }
span#notification {
    bottom: 6px;
    color: #FEFEFE;
    font-family: verdana;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0;
    margin-left: 1px;
    padding: 0 2px;
    position: relative;
}
#red-content {
    border-top: none;
    /*background: none repeat scroll 0 0 #FEFFED;*/
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    max-width: 960px;
    min-width: 700px;
    min-height:520px;
}
.background#red-content{background: url("www-static/assets/images/highlight.png") no-repeat scroll left top transparent;}
#red-content-left {
    float: left;
    padding-bottom: 40px;
    width: 705px;
}

.background-event#red-content{background: url("www-static/assets/images/highlight-1.png") no-repeat scroll left 30px transparent;
    height: 600px;}
    
#red-content-left {
    float: left;
    padding-bottom: 40px;
    width: 705px;
}

#red-content-right {
    float: left;
    min-height: 650px;
    padding: 5px 5px 5px 20px;
    width: 230px;
}
.box { }
/* footer */
#footer {    
    background: none repeat scroll 0 0 #F9F9F9;
    background: -moz-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
    border-top: 1px solid #EEEEEE;
    margin-top: 20px;

}
#footer-warp{
    margin: 10px auto 0;
    padding-bottom: 40px;
    width: 960px;}
#copyright { color: #ccc }
#footer-menu a { color: #ccc }
#footer-menu #hint a { color: #AEA7A7 }
#footer ul#footer-menu {
    width: 600;
    float: left;
}
#footer ul#copyright {
    width: 390px;
    float: right;
}
#footer #copyright a{color:#ccc;}
#verified-business{
    bottom: 5px;
    position: relative;
    right: 5px;
}
#footer #footer-menu li {
    float: left;
    margin-right: 20px;
}
#footer #copyright li { float: right }
/* ERRORS
   ================================================== */
label.error{
    margin: 5px;
    position: relative;
    bottom: 11px;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    background: #FEFFCB;
    border: 1px solid #DDDEA3;
    border-top: 1px solid #fff ;
    width: 200px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.error a{color: #D32E2E;}
#red-error-box {
    left: 20px;
    margin: 0 auto 10px;
    width: 960px;
}
#red-error-box a {
    color: #444444;
    text-decoration: underline;
}
.error-list{}
.error-list #num {
    float: left;
    padding: 10px;
}
.error-list #description {
    background: none repeat scroll 0 0 #FFFFE1;
    float: left;
    margin-left: 10px;
    padding: 10px;
    max-width: 890px;
    color: #D32E2E;
}
/* ===[ Sementara ]=== */
#red-register-important {
    margin: 5px;
    padding: 5px;
}
#red-register .textinput{width:200px}
/* APPROVEAL
   ================================================== */
.box-approve {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 300px;
}
.box-approve a {
    color: #D32E2E;
    text-decoration: underline;
}
#box-help {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 300px;
}
#box-help a {
    color: #D32E2E;
    text-decoration: underline;
}
/* LOGIN
   ================================================== */
#red-login {
    background: url("www-static/assets/images/border.png") no-repeat scroll right center #FFFFFF;
    float: left;
    height: 610px;
    width: 200px;
}
#red-login-information {
    float: left;
    margin: 0 5px 5px 20px;
    padding: 0 5px;
}
#red-login-information img {
    margin: 5px;
    padding: 5px;
}
/* js home */
.example { color: #aaa }
/* TERMS
   ================================================== */
#red-terms-general {
    border: 1px solid #D7D7D7;
    color: #444444;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px
}
#red-terms-general img{
    bottom: 22px;
    margin-bottom: -10px;
    position: relative;
    right: 11px;
}
#red-terms-general a,#red-terms-notes a { color: #D32E2E }
#red-terms-security {
    border: 1px solid #D7D7D7;
    color: #444444;
    padding: 10px;
    margin-bottom: 20px;
}
#red-terms-notes {
    padding: 10px;
    border: 1px solid #D32E2E;
}
ul ul li {
    list-style: decimal inside none;
    margin-left: 28px;
}
#red-side-ads {
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 220px;
}

/* why */
#why li {
    list-style: decimal outside none;
    margin-bottom: 5px;
    margin-left: 30px;
}
/* message and buy  */
#wide-input textarea { width: 400px }
/*test*/
#helloworld{      
    color: #D32E2E;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 29px;
    margin: 10px 0 0 6px;
    padding-right: 60px;
    word-spacing: -1px;
    text-shadow: 1px 1px 0 #E6E6E6, 1px 2px 0 #D0D0D0;}
.spanwelcome{    background: none repeat scroll 0 0 #FFFBC6;
    color: #444444;
    position: relative;
    top: 145px;}
    
#users-menu-information {
    color: #CFCACA;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
#red-register-information{
    font-size: 10px;
    padding: 0 5px;
}


/*COMMENTS*/
.comments #d a{color: #CCCCCC;
margin-left: 10px;opacity:0;}
.comments:hover #d a{
opacity:1;}
.comments:target {
    background: none repeat scroll 0 0 #FCFF92;
}

.comments:target a.u{
   background:  none repeat scroll 0 0 #FFFFFF;
}
.comments:target #time{
   color:#C0C56E !important;    
}


#says{  color: #C24F4F;}

/*EVENT
.home #red-content.background {
    background: url("www-static/assets/images/highlight-1.png") no-repeat scroll -201px 349px transparent;
}
#event-invitasi2{   padding: 10px;}

.faktanyaadalah{
    background: url("/www-static/assets/images/bg/faktanyaadalah.gif") repeat 0 0 #000000;
}
.faktanyaadalah #red-content.background{ background: #fff;}
.binus #red-content.background{    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;}
.binus{    background: url("/www-static/assets/images/bg/logo-binus.gif") repeat 0 0 #000000;
}

.uniqpost{
    background: url("/www-static/assets/images/bg/uniqpost.png") repeat 0 0 #000000;
}
.uniqpost #red-content.background{ background: #fff;}
*/

/*TEST*/
#test-netcoid-why{    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    color: #444444;
    float: left;
    margin-top: 15px;
    opacity: 0.9;
    padding: 5px 10px;
    width: 200px;}
#test-netcoid-why:hover{opacity:1;}
#test-netcoid-why li{    list-style: square outside none;
    margin-left: 15px;}
#test-netcoid-why #test-netcoid-status{    background: none repeat scroll 0 0 #F4F4F4;
    padding: 10px;
    position: relative;
    right: 10px;
    width: 201px;}


/*AREA51*/
#ajax-information img {
    display: block;
    float: right;
    position: relative;
    right: 5px;
    top: 3px;
}


/*
    UJI COBA 
*/
#red-header #search-highlight a{ color: #FFF6A7;}