#red-product-menu {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#red-product-menu li {
    float: left;
    margin: 0 0 0 10px;
    padding: 5px 10px;
}
#red-product-menu li#badges { padding: 0 }
#red-product-menu #red-product-name { float: right }
#red-product-left {
    max-width: 460px;
    padding: 10px;
    float: left;
}
#red-product-right {
    max-width: 460px;
    padding: 10px;
    float: left;
    overflow:hidden;
    word-wrap: break-word;
}
#product {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    width: 190px;
}
#productline hr { border-color: #eee }
#red-product-list {
    margin: 15px auto 0;
    min-height: 500px;
    width: 960px;
}
#red-product-tags {
    border-left: 1px solid #EEEEEE;
    float: right;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 85px;
}
/*@todo nanti diganti h3 dsb untuk seo*/
#red-product-tags li.headers{    font-weight: bold;}
#red-product-tags li {   list-style: none outside none; }
#red-product-tags ul ul li {      border-left: 1px solid #EEEEEE;
    font-size: 11px;
    margin-left: 2px;
    padding-left: 6px;}
#status-verified {
    background: none repeat scroll 0 0 #BAE9FF;
    padding: 5px 10px;
}
#status-founder {
    background: none repeat scroll 0 0 #D32E2E;
    padding: 5px 10px;
    color: #FFFFFF;
}
#status-unverified {
    padding: 5px 10px;
    background: none repeat scroll 0 0 #F2F2F2;
}
#more {
    border: 1px solid #EEEEEE;
    display: block;
    margin-left: 0;
    padding: 10px 323px;
    text-align: center;
}
#pesan {
    -moz-box-shadow: 0 1px 3px #DDDDDD;
    -webkit-box-shadow: 0 1px 3px #DDDDDD;
    -o-box-shadow: 0 1px 3px #DDDDDD;
    -box-shadow: 0 1px 3px #DDDDDD;
    background: none repeat scroll 0 0 #D8FFAA;
    border: 1px solid #8CD23A;
    margin: 5px 0;
    padding: 10px;
}

#meta-comments {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    text-align: center;
}
#textarea-comment{width:98%;}
#comments .comments #name{margin-right: 10px;}
#comments .comments #comment{margin-right: 5px;font-size:11px;}
#comments .comments #time{  color: #E6CDAD;}
#comments .comments{   
    margin: 5px 0;
    padding: 5px 0;}
/*#comments .comments:nth-child(odd){background: none repeat scroll 0 0 #FFFFD5;}
#comments .comments:nth-child(even){background: none repeat scroll 0 0 #FFFFE4;}*/
#how-comment{    background: none repeat scroll 0 0 #FCFBFB;
    border: 1px solid #EEEEEE;
    margin-top: 10px;
    padding: 5px;}


#ajax-talkperhour{        background: none repeat scroll 0 0 #FEFFCB;
    bottom: 10px;
    float: right;
    font-size: 11px;
    margin-right: 40px;
    padding: 5px 10px;
    position: relative;}

.product-meta{    display: block;
    font-family: Verdana;
    font-size: 11px;
    text-align: center;}

.product-image{     
    display: table;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;}
.product-image img {
    border: 1px solid #ddd;
    padding: 2px;box-shadow: 1px 1px 1px #F5F5F5;
}
.product-image img:hover {
    border: 1px solid #939393;
}
#productline{    padding: 0 10px;}

/*BETA FIXES*/

#product-group{
    border: 1px solid #CCCCCC;
    margin: 10px 36px;
    padding: 10px;
}

#search input{
             width: 940px;
}

#product-to-next{
    background: none repeat scroll 0 0 #E3E3E3;
    color: #FFFFFF;
    height: 150px;
    right: 10px;
    opacity: 0.5;
    padding: 3px;
    position: fixed;
    text-align: center;
    width: 75px;    margin: 9% 0;
}

#product-to-back{
    background: none repeat scroll 0 0 #E3E3E3;
    color: #FFFFFF;
    height: 150px;
    left: 10px;
    opacity: 0.5;
    padding: 3px;
    position: fixed;
    text-align: center;
    width: 75px;    margin: 9% 0;
}

.arrow{
    display: block;
    font-family: Trebuchet MS;
    font-size: 60px;
    font-weight: bold;
    margin-top: 63px;
}

#product-to-next:hover, #product-to-back:hover{
    background: none repeat scroll 0 0 #ccc;
    opacity:1;
}

#arrow-link:hover{text-decoration:none;
    color:#444;}



div#marquee {
    color: #989393;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 960px;
}
div#marquee div.scrollingtext {
    position:relative;
    display:inline;
    white-space:nowrap;
}
div#marquee div.fader {
    width:60px;
    position:absolute;
    background:url(/images/left-right-fader.png) repeat-y scroll 0 0 transparent;
    top:0;
    left:0;
}
div#marquee div.fader.left {
    background-position:-60px 0;
    left:auto;
    right:0;
}

#groups{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E7E7E7;
    color: #444444;    font-family: Trebuchet MS;
}
#groups ul{
    margin: 0 auto;
    width: 960px;
}
#groups li{    float: left;
    margin-right: 15px;
    padding: 5px 0 5px 10px;}

#groups li a{ 
    display: block;
    padding: 1px 5px;}

#product-name{}
