#red-profile-menu {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#red-profile-menu li {
    float: left;
    margin: 0 0 0 10px;
    padding: 5px 10px;
}
#red-profile-menu li#badges { padding: 0 }
#red-profile-menu #red-profile-name { float: right }
#red-profile-left {
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 220px;
}
#red-profile-left a { margin-bottom: 10px }
#red-profile-right {
    float: left;
    min-height: 500px;
    padding: 10px;
    width: 680px;
}
#red-profile-right #product {
    float: left;
    margin: 5px;
    padding: 0 5px;
    width: 150px;
}
#productline hr { border-color: #eee }
#twitter {
    background: none repeat scroll 0 0 #9AE4F1;
    padding: 10px;
    word-wrap: break-word;
    display:block;
    margin-bottom: 5px;
}
#twitter:hover{color:#444;text-decoration:none;background:#AFEEF9;}
#yahoo {
    background: none repeat scroll 0 0 #F8FFB1;
    padding: 10px;
    display:block;
    margin-bottom: 5px;
}
#yahoo:hover{color:#444;text-decoration:none;background:#FAFFCF;}
#facebook {
    background: none repeat scroll 0 0 #627AAD;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
}
#facebook:hover{text-decoration:none;background:none repeat scroll 0 0 #3B5998;}
#facebook a{    background: none repeat scroll 0 0 #FBFFD9;
    color: #AAAAAA;}
#status-verified {
    background: none repeat scroll 0 0 #BAE9FF;
    padding: 5px 10px;
}
#status-mediapartner{
    background: none repeat scroll 0 0 #54EAC0;
    padding: 5px 10px;
}
#status-founder {
    background: none repeat scroll 0 0 #D32E2E;
    padding: 5px 10px;
    color: #FFFFFF;
}
#status-unverified {
    padding: 5px 10px;
    background: none repeat scroll 0 0 #F2F2F2;
}
/*
PRODUCTLIST
*/
#more {
    margin-left: 425px;
    margin-top: 10px;
    padding: 10px 20px;
}
#profile {
    float: left;
    margin: 5px;
    padding: 0 5px;
    width: 220;
}
/* JS
   ================================================== */
#red-information {  word-wrap: break-word; overflow:hidden;  }
#more {
    margin-left: 320px;
    margin-top: 10px;
    padding: 10px 20px;
}
/*UJICOBA*/
.newicon{
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(center top , #5D93C3, #436D91) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top , #5D93C3, #436D91) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(center top , #5D93C3, #436D91) repeat scroll 0 0 transparent;
    border: 1px solid #204464;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 6px 0 0;
    padding: 0 6px;
    text-shadow: 0 -1px 0 #0E1E2C;
    text-transform: uppercase;    
}
.newicon a{color:#fff;}