#red-profile-menu {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#red-profile-menu li {
    float: left;
    margin: 0 0 0 10px;
    padding: 5px 10px;
}
#red-profile-menu li#badges { padding: 0 }
#red-profile-menu #red-profile-name { float: right }
#red-profile-left {
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 220px;
}
#red-profile-left a { margin-bottom: 10px; }
#red-profile-right {
    float: left;
    min-height: 500px;
    padding: 10px;
    width: 680px;
}
#red-profile-right #product {
    float: left;
    margin: 5px;
    padding: 0 5px;
    width: 150px;
}
/* @todo tunggu dl
#red-profile-right #product img{    
    border: 1px solid #CCCCCC;
    padding: 2px;}
*/
#productline {}
hr { border-color: #eee }
#profile-logo{    margin-bottom: 5px;}
#red-profile-left a:hover{color:#444;text-decoration:none;  }

/* TWITTER */
#twitter {
    background: none no-repeat scroll 95% 95% #9AE4F1;
    display: block;
    padding: 10px;
    word-wrap: break-word;
}
#twitter:hover{  background:  #6EC1EE;}
#twitter-meta{
    background: url("www-static/assets/images/i/icon_twit.png") no-repeat scroll 183px center #6EC1EE;
    margin-bottom: 5px;
    padding: 10px;
}

/* YAHOO */
#yahoo {
    background: #F8FFB1;
    padding: 10px;
    display:block;
}
#yahoo:hover{color:#444;background:#FFE997;}
#yahoo-meta{ 
    background: url("www-static/assets/images/i/icon_yahoo.png") no-repeat scroll 187px center #FFE997;
    color: #444;
    margin-bottom: 5px;
    padding: 10px;
}

/* FACEBOOK */
#facebook {
    background: #627AAD;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    word-wrap: break-word;
}

#facebook:hover{background: #3B5998;}
#facebook-meta{ 
    background: url("www-static/assets/images/i/icon_fb.png") no-repeat scroll 187px center #3B5998;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding: 10px;
}

#status-verified {
    background: none repeat scroll 0 0 #BAE9FF;
    padding: 5px 10px;
}
#status-verified:hover{
    background: none repeat scroll 0 0 #AEE0F7;
}
#status-verified a:hover{
    color:#444;text-decoration:none;
}
#status-mediapartner{
    background: none repeat scroll 0 0 #54EAC0;
    padding: 5px 10px;
}
#status-founder {
    background: none repeat scroll 0 0 #D32E2E;
    padding: 5px 10px;
    color: #FFFFFF;
}
#status-unverified {
    padding: 5px 10px;
    background: none repeat scroll 0 0 #F2F2F2;
}
/*
PRODUCTLIST
*/
#more {
    margin-left: 425px;
    margin-top: 10px;
    padding: 10px 20px;
}
#profile {
    float: left;
    margin: 5px;
    padding: 0 5px;
    width: 220;
}
/* JS
   ================================================== */
#red-information {  word-wrap: break-word; overflow:hidden;  }
#more {
    border: 1px solid #EEEEEE;
    display: block;
    margin-left: 0;
    padding: 10px 323px;
}
/*UJICOBA*/
.newicon{
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(center top , #5D93C3, #436D91) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top , #5D93C3, #436D91) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(center top , #5D93C3, #436D91) repeat scroll 0 0 transparent;
    border: 1px solid #204464;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 6px 0 0;
    padding: 0 6px;
    text-shadow: 0 -1px 0 #0E1E2C;
    text-transform: uppercase;    
}
.newicon a{color:#fff;}

#productline{    padding: 0 10px;}
.product-meta{    display: block;
    font-family: Verdana;
    font-size: 11px;
    text-align: center;}

.product-image{    display: block;
    text-align: center;}
.product-image img {
    border: 1px solid #ddd;
    padding: 2px;box-shadow: 1px 1px 1px #F5F5F5;
}
.product-image img:hover {
    border: 1px solid #939393;
}
#ajax-pull-twitter,#ajax-pull-yahoo ,#ajax-pull-twitter{
    display:block;    margin-bottom: 10px;
}
#ajax-pull-facebook #facebook a{    background:none repeat scroll 0 0 #E7E1FF;}