#kurs{
    background: none repeat scroll 0 0 #C9EBBA;
    border: 1px solid #B6DAA6;
    margin: 5px 0;
    padding: 5px;
}
.textinput{}
#red-edit-right
{
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 220px;
}
#red-edit-right li
{
    list-style: decimal outside none;
    margin-left: 20px;
}
#red-edit-left-wide
{
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 485px;   
}
#red-edit-full{
    border-top: 1px solid #F5EFE7;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 745px;   
}
#red-edit-right-wide
{
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 485px;   
}
#textarea-informationbox{
    height: 400px;
    width: 460px;
}
#red-edit-left
{
    border-top: 1px solid #F5EFE7;
    background: none repeat scroll 0 0 #FEFBE8;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 220px;
}
#red-edit-left p
{
    color: #CC3E3E;
    margin: 5px;
}
#red-profile-status
{
    background: none repeat scroll 0 0 #CFDEFF;
    border: 1px solid #BACEEB;
    margin: 10px 0;
    padding: 10px;
}

#red-whattodo{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #F9EBEB;
    margin: 10px 0;
    padding: 10px;
}
#red-box-red
{
    background:none repeat scroll 0 0 #FFCFCF;
    border:1px solid #EBBABA;
    margin:10px 0;
    padding:10px;
}
#input-wide input,
#input-wide textarea { width: 250px }
#red-profile-status p { margin-bottom: 10px }
#red-profile-status a{color: #CC3E3E;}

#twitter {
background:none repeat scroll 0 0 #9AE4F1;
padding:10px;
word-wrap: break-word;
display:block;
}
#yahoo {
background:none repeat scroll 0 0 #F8FFB1;
padding:10px;
}
#facebook {
    background: none repeat scroll 0 0 #627AAD;
    color: #FFFFFF;
    display: block;
    padding: 10px;
}
#facebook:hover{text-decoration:none;background:none repeat scroll 0 0 #3B5998;}
#facebook a{    background: none repeat scroll 0 0 #FBFFD9;
    color: #AAAAAA;}
#connect-status li {
margin:10px 0;
list-style:none outside none;
}

/*product*/
#subinformation{background:none repeat scroll 0 0 #fff;
margin:5px 0;border-bottom: 1px solid #F9EBEB;}

#ptime{
    color: #C6A6A6;}
#subname{    float: left;
    max-width: 230px;
    padding: 5px 10px;}
#subuser{
    float: left;
    margin-left: 10px;
    padding: 5px 10px;}
#subtime{
    color: #CCCCCC;
    float: left;
    font-size: 10px;
    padding: 5px 10px;}
#suboptions a {
    color: #CCCCCC;
    float: right;
    margin-right: 10px;
    padding: 5px;
}
#subname a,#subuser a{color: #CC3E3E;}

#red-profile-guides{
    background: none repeat scroll 0 0 #DEFFCF;
    border: 1px solid #C9EBBA;
    margin: 10px 0;
    padding: 10px;  
}
#red-profile-info{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #EAE3E3;
    margin: 10px 0;
    padding: 10px;  
}
/*messages*/
#message{background:#fff;    border-bottom: 1px solid #F9EBEB;
margin:5px 0;}
#message:hover{background:#FFFEE3;}
#archive{
margin:5px 0;}
#archive:hover{background:#FFFEE3;}

#red-side-menu {
    background: url("/www-static/assets/images/border-blog.png") no-repeat scroll left top transparent;
    float: right;
    min-height: 500px;
    width: 170px;
}
#red-side-menu ul li {
    border-bottom: 1px solid #F9EBEB;
    list-style: none outside none;
    margin-left: 0;
    padding: 5px;
}

#red-side-menu ul ul li:hover {
    border-bottom:1px solid #F4E2E2;
}
/* dirty fix */
#red-side-menu ul ul li {
    list-style: none;
    margin-left: 0px;
    background: none repeat scroll 0 0 #FEFCF2;
}
#red-side-menu li a{ color:#444;text-decoration:none; }
/*icon*/
#red-side-menu ul ul li.iconprofile{
    background: url("/www-static/assets/images/i/user.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}
#red-side-menu ul ul li.iconaddress{
    background: url("/www-static/assets/images/i/book_addresses.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}
#red-side-menu ul ul li.iconconnect{
    background: url("/www-static/assets/images/i/arrow_switch.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}
#red-side-menu ul ul li.iconadd{
    background: url("/www-static/assets/images/i/add.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}
#red-side-menu ul ul li.iconlist{
    background: url("/www-static/assets/images/i/text_list_bullets.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}
#red-side-menu ul ul li.iconhelp{
    background: url("/www-static/assets/images/i/help.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}
#red-side-menu ul ul li.icondashboard{
    background: url("/www-static/assets/images/i/dashboard.png") no-repeat scroll left center #FFFFFF;
    margin-left: 5px;
    padding-left: 21px;
}

#message.iconmessage{
    background-image: url("/www-static/assets/images/i/Mail.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}

#archive.iconarchive{
    background-image: url("/www-static/assets/images/i/Mail Open.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}

/*DASBOARD*/
.feed:hover{background:#FFFEE3;}
.feed:hover #subinformation{background: none repeat scroll 0 0 #FDFFD9;}
#red-dashboard {    background: none repeat scroll 0 0 #D8FFAA;
    border-bottom: 1px solid #BAE687;}
#red-dashboard ul li{
    float: left;
    margin-right: 5px;
    padding: 5px;}
#red-dashboard ul .trustpoint{
    float: right;
    margin-right: 0;}
#comments{    margin-left: 30px;}
.comment{   
    font-family: "calibri",tahoma;
    margin-bottom: 5px;
    padding: 2px 0 2px 10px;}
.morecomments{       border-top: 1px dashed #EEEEEE;
    font-family: "calibri",tahoma;
    margin-bottom: 5px;
    padding: 2px 0 2px 10px;}

.bootstraps{
    background: url("/www-static/assets/images/red-gradiant200.gif") repeat-x scroll left center #FFFFFF;
    border: 1px solid #A90000;
    float: left;
    height: 200px;
    color:#7D1212;
    margin-right: 20px !important;
    margin-top: 15px;

    width: 232px;}
.bootstraps:last-child{
     margin-right: 0px !important;
}
.bootstraps .image{    border-bottom: 1px solid #B30000;
    font-size: 20px;
    height: 53px;
    padding-top: 40px;
    text-align: center;}
.bootstraps .desc{    padding: 10px;       border-top: 1px solid #E35858;}
.feeds {    margin-top: 15px;}    

.mentions{ 
    margin: 5px 0;
    padding: 5px 0;}

.mentions #d a{color: #CCCCCC;
margin-left: 10px;opacity:0;}
.mentions #l a{color: #D32E2E;
margin-left: 10px;}

.mentions:hover #d a{
opacity:1;}